<div class="scroll">
	<div>
		<ul class="collection">
			<li (click)="ohYeah()" class="collection-item avatar waves-effect">
				<img src="images/yuna.jpg" alt="" class="circle">
				<i class="material-icons circle">person</i>
				<span class="title"><b>Anmol Saxena</b></span>
				<p class="grey-text">
					12:45
					<i class="material-icons grey-text">call_made</i>
				</p>
				<span class="secondary-content"><i class="material-icons blue-text" style="font-size: 48px;">video_call</i></span>
			</li>
		</ul>
	</div>
</div>