<header>
	<nav>
		<div class="nav-wrapper blue darken-4">
			<a (click)="showProfile()" class="brand-logo center">
				{{chat.other.displayName}}
			</a>
			<ul id="nav-mobile" class="left">
				<li><a (click)="goBack()"><i class="material-icons">arrow_back</i></a></li>
			</ul>
		</div>
	</nav>
</header>

<main style="height: 100%; width: 100%;">
	<div style="height: 78%">
		<div class="container scroll" style="margin: 0; background-color: white; width: 100%; height: 100%;">
			<div class="container">
				<img [src]="getProfileImage(chat.other.phoneNumber)" style="height:60px" alt="" class="circle">
				<p>Hello. How are you today?</p>
				<span class="time-right">11:00</span>
			</div>
			
			<div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Hey! I'm fine. Thanks for asking!</p>
				<span class="time-left">11:01</span>
			</div>
			
			<div class="container">
				<img [src]="getProfileImage(chat.other.phoneNumber)" style="height:60px" alt="" class="circle">
				<p>Sweet! So, what do you wanna do today?</p>
				<span class="time-right">11:02</span>
			</div>
			
			<div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>

			<div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>

			<div class="container">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>
		</div>
		<div class="input-box row">
			<div class="input-field">
				<input id="icon_prefix" type="text" style="width: 100%" class="validate">
				<label for="icon_prefix">Type a message</label>
				<i class="material-icons prefix">send</i>
			</div>
		</div>
	</div>
</main>
