<header>
	<nav>
		<div class="nav-wrapper blue darken-4">
			<a (click)="showProfile()" class="brand-logo center">
				{{chat.other.displayName}}
			</a>
			<ul id="nav-mobile" class="left">
				<li><a (click)="goBack()"><i class="material-icons">arrow_back</i></a></li>
			</ul>
		</div>
	</nav>
</header>

<main style="height: 100%; width: 100%;">
	<div style="height: 78%">
		<div class="container scroll" style="margin: 0; background-color: white; width: 100%; height: 100%;">
			<div *ngFor="let message of messages">
				<div *ngIf="message.from.uid == user.uid">
					<div class="container darker right-align">
						<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
						<p>{{message.body}}</p>
						<span class="time-right">{{message.sent_time | date:medium}}</span>
					</div>
				</div>
				<div *ngIf="message.from != user">
					<div class="container">
						<img [src]="getProfileImage(chat.other.phoneNumber)" style="height:60px" alt="" class="circle">
						<p>{{message.body}}</p>
						<span class="time-left">{{message.sent_time | date:time}}</span>
					</div>
				</div>

			</div>
			<!-- <div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Hey! I'm fine. Thanks for asking!</p>
				<span class="time-left">11:01</span>
			</div>
			
			<div class="container">
				<img [src]="getProfileImage(chat.other.phoneNumber)" style="height:60px" alt="" class="circle">
				<p>Sweet! So, what do you wanna do today?</p>
				<span class="time-right">11:02</span>
			</div>
			
			<div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>

			<div class="container darker right-align">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle right">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div>

			<div class="container">
				<img [src]="getProfileImage(user.phoneNumber)" style="height:60px" alt="" class="circle">
				<p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
				<span class="time-left">11:05</span>
			</div> -->
		</div>
		<div class="input-box row">
			<div class="input-field" id="mess-input">
				<input #messagebox id="message-box" type="text" class="validate">
				<label for="message-box">Type a message</label>
				<i (click)="sendMessage(messagebox.value)" class="material-icons prefix">send</i>
			</div>
		</div>
	</div>
</main>
