<header>
	<nav class="nav-extended blue darken-4">
		<div class="nav-wrapper hoverable">
			<a href="#" class="brand-logo center">Profile Details</a>
		</div>
	</nav>
</header>

<main class="white">

	<img style="display: none;" class="responsive-img" id="profile_image_show" src="#" alt="Profile Image">

	<div class="row">
		<form #oneTime="ngForm" (ngSubmit)="save(oneTime.value)" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input ngModel name="display_name" id="display_name" type="text" required class="validate">
					<label for="display_name">Display Name</label>
				</div>
				<div class="input-field col s12">
					<input ngModel name="status"  id="status" type="text" required class="validate">
					<label for="status">Status</label>
				</div>
				<div class="input-field col s12">
					Profile Image<br>
					<input ngModel name="profile_image" id="profile_image" required (change)="update()" type="file" accept="image/*" class="validate">
				</div>
				<div class="input-field col s12">
					<button class="btn" type="submit" [disabled]="oneTime.invalid">Submit</button>
				</div>
			</div>
		</form>
	</div>
</main>