<header>
	<nav class="nav-extended blue darken-4">
		<div class="nav-wrapper hoverable">
			<a href="#" class="brand-logo center">Let's Talk</a>
			<ul id="nav-mobile" class="right">
				<li><a class="dropdown-trigger hoverable" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
				<!-- Dropdown Structure -->
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!" class="blue-text"><i class="material-icons blue-text">person</i>Profile</a></li>
					<li class="divider" tabindex="-1"></li>
					<li><a href="#!" class="blue-text"><i class="material-icons blue-text">exit_to_app</i>Logout</a></li>
				</ul>
			</ul>
		</div>

	</nav>
</header>

<main>
</main>