<header>
	<nav class="blue darken-4">
		<div class="nav-wrapper blue darken-4">
			<a href="#" class="brand-logo center">
				{{user.displayName}}
			</a>
			<ul id="nav-mobile" class="left">
				<li><a (click)="goBack()"><i class="material-icons">arrow_back</i></a></li>
			</ul>
		</div>
	</nav>
</header>

<main>
	<img class="materialboxed" width="100%" [src]="getProfileImage(user.phoneNumber)">
	<div class="row">
		<div class="col s12">
			<h4>Phone Number: {{user.phoneNumber}}</h4>
		</div>
		<div class="col s12">
			<h4>Status: {{user.profile.status}}</h4>
		</div>
		<div class="col s12">
			<div class="center-align">
				<button id="chat-button" (click)="startChat()" class="btn blue darken-4 center waves-effect">Message</button>
			</div>
		</div>
	</div>
</main>